@charset "utf-8";
/* CSS Document */
.content{width:100%;height:auto;text-align:left;margin-bottom:30px;text-indent: 2em}
.content h2{color:#F95656;text-align:center;margin:15px auto;width:200px;padding:10px 15px;font-size:42px;}
.content .img{width:80%;margin:0 auto;}
.content .img figure{ width:90%;margin:15px auto;border:2px solid black;background-color:rgba(255,255,255,0.5)}
.content .img figure img{ float:left;width:40%;height: 500px; border-right:2px solid black;}
.content .img figure figcaption{ float:left;width:59%;}
.content .img figure figcaption h2{padding-top:15px;font-size:30px; font-weight:900;}
.content .img figure figcaption p{ padding:0 27px;}
.content .img figure figcaption .button{width:200px;background-color:#EEBABA;color:#fff;padding:3px;margin:25px auto;font-size:25px;font-weight:700;border:2px solid #EEBABA;}
.content .img figure figcaption 
.button:hover{ background-color:#FFF;color:#000;}