.h16{padding:50px 10px 30px;font-weight:normal;font-size:36px;line-height:46px;text-align:center;color:rgba(173,163,163,1.00) }
.h26{padding:30px 5px 10px;font-weight:normal;font-size:25px;line-height:20px;text-align:center;color:rgba(173,163,163,1.00)}
.paraOne6{margin-left:5%;width:90%;}
.paraTwo6{margin-left:5%;margin-right: 5%;width:40%;height:200px;float: right;}
.paraThree6{margin-left:5%;margin-right: 10%;width:40%;height:200px; float: left;}
.paraTwo7{margin-left:3%;margin-right: 7%;width:40%;height:200px;float: right;}
.paraThree7{margin-left:7%;margin-right: 3%;width:40%;height:200px; float: left;}
.paraTwo8{margin-left:5%;margin-right: 5%;width:25%;height:200px;float: right;}
.paraThree8{margin-left:5%;margin-right: 5%;width:25%;height:200px; float: left;}