 /* CSS Document */
*{
	margin: 0;
	padding: 0;
	
}
body{
	background-color: aliceblue;
}
.container1{text-align: center;
			margin-top: 30px;
			margin-bottom: 50px;
			}
.front img{
	width: 100%;
	height: 100%;
	position: absolute;
	
}
.piclist{
	width:100%;
	height:110px;
	margin: auto;
	float: center;
	margin-left:3%;
	margin-right: 3%;
	}
.picbox{
	float:left;
	width:16.6%;
	height:200%;
	margin:auto;
	margin:1%;
	position:relative;
	/*父元素里面包含需要变换的内容，所置为3D变换*/

	transform-style:preserve-3d;
	transition:1.5s;}
	/*设置在1.5s内完成变换*/
.picbox:hover{
	transform:rotateY(180deg);}
.box{
	width:100%;
	height:215px;
	position:absolute;}
.front{
	border:2px solid #ddd;
	box-shadow:2px 2px 2px #aaa;}
.back{
	transform:rotateY(180deg);
	background-color: aliceblue;
	border:2px solid #ddd;
	backface-visibility: hidden;
	background-color: aliceblue;
	}
.back h2{
	font-size: 16px;
	color: rgba(120,116,116,1.00);
	text-align:center;
	padding:5px 5px 5px 5px;
	}
.back h3{font-family:actor;font-size:13px;color: rgba(120,116,116,1.00) }
.back h4{font-family: actor;font-size:11px;color: rgba(120,116,116,1.00)}
.back p{font-size: 12px;padding:5px 5px 5px 5px;font-family: bitter;}
.container1 h1{text-align: center;}
.container1 h3{font-size:18px;}

.container2{position: relative;
			margin-top: -100px;}
.container2 h3{text-align: center;padding:5px 5px 5px 5px; }


.container3{margin-bottom:30px;
			margin-top: 450px;
			}
.container3 img{margin-top: 100px;}
.container4{margin-top: 130px;
			margin-bottom: 100px;
			align-content: center;}
.container4 h2{text-align:center;
			   margin-top:30px;
			   margin-bottom: 20px;}
.container4 h3{text-align:right;
			  margin-bottom:20px; 
			  margin-right: 200px;}
.container4 p{font-size:18px;margin-left:50px;margin-right:50px;}
.container4 table{margin-top:50px;margin-left:275px;margin-right:200px;border:solid 3px;align-content: center;border-color:#e5e6e4;color:#464541;}
			tr{height:40px;background-color:#c5ecfd;}
.container6{width:550px;
			float:left;
			margin-left:50px;}
.container7{text-align:center;width: 50%;margin-left:650px;margin-top:300px;}
.container7 ul{list-style-position:inside;list-style:disc;line-height:2;font-size:15px;}
.container7 li{text-align: left;list-style-type:disc;}
.container8{float: left; width: 50%}
.container8 img{width:450px;margin-top:-500px;margin-left:125px;}
.container9{margin-top:100px;text-align: center;}
